

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >

    <h:head>
    </h:head>

    <h:body>
        <style type="text/css">
            .ui-panelgrid.showcase-text-align-center .ui-grid-responsive .ui-panelgrid-cell {
                text-align: center;
            }

            .customPanelGrid .ui-panelgrid-content {
                align-items: center;
            }
        </style>

        <div class="card" >
            <h3 style="text-align: center">Tela de Cadastro de Lotes de Fichas e Livros</h3>
            <h:form style="margin: 0">

                <p:panelGrid columns="1" style="margin-left:  10%; width: 80%; ">
                    <p:outputLabel value="Pesquisar por:"/>
                    <p:panelGrid columns="2" layout="grid" 
                                 >

                        <p:outputPanel style="display: flex; flex-direction: row; width: 100%; padding-bottom: 10px">

                            <div >
                                <p:outputLabel>Lote</p:outputLabel>
                                <p:inputText id="lotePesquisa" placeholder="Lote" value="#{queyBean.id_lote}" />
                            </div>

                            <div >
                                <p:outputLabel>Andar</p:outputLabel>
                                <p:selectOneMenu id="andarPesquisa" value="#{queyBean.andar}" title="Andar">
                                    <f:selectItem itemLabel="Andar" itemValue="#{null}"/>
                                    <f:selectItems value="#{queyBean.andares}" />
                                    <f:facet name="footer"/>
                                </p:selectOneMenu>
                            </div>

                            <div>
                                <p:outputLabel>Corredor</p:outputLabel>

                                <p:selectOneMenu id="corredorPesquisa"   value="#{queyBean.corredor}" title="Corredor" >
                                    <f:selectItem itemLabel="Corredor" itemValue="" />
                                    <f:selectItems value="#{queyBean.corredores}" />

                                </p:selectOneMenu>                       
                            </div>


                        </p:outputPanel>

                        <p:outputPanel style="display: flex; flex-direction: row; width: 100%">
                            <div style="display: flex; flex-direction: row; transform: translateX(-66px) ">

                                <div style="margin: auto;">
                                    <p:outputLabel value="Data inicial"/>
                                    
                                    <p:calendar id="data1" value="#{queyBean.data_ini}"  navigator="true"
                                                pattern="dd/MM/yyyy" />                                
                                </div>
                                <div style="margin: auto; ">
                                    <p:outputLabel value="Data final"/>
                                    <p:calendar id="data2" value="#{queyBean.data_fim}"  navigator="true" label="data inicio"
                                                pattern="dd/MM/yyyy"  style="padding-right: -200px"/>
                                </div>
                            </div>
                            <div style="position: relative;  transform: translateY(16px) translateX(-36px) ">

                                <p:commandButton value="Pesquisar" 
                                                 style="color: white; background:#000;  "
                                                 actionListener="#{queyBean.pegaLotePorQuery()}"
                                                 update="lotes"
                                                 >

                                </p:commandButton>
                            </div>
                        </p:outputPanel>


                    </p:panelGrid>
                    <p:panelGrid columns="1" >
                        <p:dataTable id="lotes" var="lote" value="#{queyBean.listaLotes}" rowKey="#{lote.id_lote}"
                                     selectionMode="single" 
                                     sortMode="single"                                     
                                     paginator="true"
                                     rows="3"
                                     >
                            <f:facet name="header">
                                Resultado da pesquisa de Lotes:                           
                            </f:facet>

                            <p:column headerText="Lote ID" sortBy="#{lote.id_lote}" style="width: 10%; text-align: center">
                                <h:outputText value="#{lote.id_lote}"   />
                            </p:column>
                            <p:column headerText="Andar"  sortBy="#{lote.andar}" style="width: 10%;text-align: center">
                                <h:outputText value="#{lote.andar}" />
                            </p:column>
                            <p:column headerText="Corredor"  sortBy="#{lote.corredor}" style="width: 10%;text-align: center">
                                <h:outputText value="#{lote.corredor}" />
                            </p:column>
                            <p:column headerText="Quantidade de Fichas"  sortBy="#{lote.qtdFichas}" style="width: 15%;text-align: center">
                                <h:outputText value="#{lote.qtdFichas}">
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Data"  sortBy="#{lote.data_cad}" style="width: 25%;text-align: center">
                                <h:outputText value="#{(lote.data_cad)}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />

                                </h:outputText> 
                            </p:column>
                            <p:column >
                                <p:commandButton value="Editar" style="text-align: center" update="@([id$=formCadastro])" actionListener="#{lote.pegaLotePorID(lote)}"   >
                                    <f:setPropertyActionListener target="#{catalogaBean.catal_lote}" value="#{lote}" />
                                </p:commandButton>



                            </p:column>

                        </p:dataTable>


                    </p:panelGrid>

                </p:panelGrid>
            </h:form>
        </div>
        <div class="card" >

            <p:panelGrid layout="grid" columns="1" style="margin-right: 10%; margin-left: 10%; margin-top: 1%;">
                <h:form enctype="multipart/form-data" id="formCadastro">



                    <h3 style="text-align: center; padding-top: 0">Cadastro de Lotes de Fichas e Livros</h3>


                    <p:panelGrid                             >  
                        <div  style="display: flex; flex-direction: row; padding: 10px"     >

                            <div>
                                <p:outputLabel>Lote</p:outputLabel>                            
                                <p:inputText id="idLoteInsert" placeholder="Lote" 
                                             value="#{catalogaBean.catal_lote.id_lote}"  title="ID Lote" 
                                             readonly="#{catalogaBean.catal_lote.novo == false}"
                                             style="#{(catalogaBean.catal_lote.novo == false) ? 'background-color: yellow;' : 'style2'}"/>
                            </div>

                            <div>
                                <p:outputLabel>Andar</p:outputLabel>                           

                                <p:selectOneMenu id="andarInsert" value="#{catalogaBean.catal_lote.andar}" title="Andar" >
                                    <f:selectItem itemLabel="Andar" itemValue="#{null}"  />
                                    <f:selectItems value="#{catalogaBean.andares}" />
                                    <f:facet name="footer"/>
                                </p:selectOneMenu>
                            </div>

                            <div>
                                <p:outputLabel>Corredor</p:outputLabel>                            

                                <p:selectOneMenu id="corredorInsert" value="#{catalogaBean.catal_lote.corredor}" title="Corredor" >
                                    <f:selectItem itemLabel="Corredor" itemValue=""/>
                                    <f:selectItems value="#{catalogaBean.corredores}" />
                                </p:selectOneMenu>
                            </div>

                            <div>
                                <p:outputLabel>Quantidade de fichas</p:outputLabel>                            
                                <p:inputText id="qtdInsertFichas" placeholder="Quantidade de fichas" value="#{catalogaBean.catal_lote.qtdFichas}" title="Quantidade de fichas"  />
                            </div>
                            <div>
                                <p:outputLabel>Quantidade de livros</p:outputLabel>                            

                                <p:inputText id="qtdInsertLivros" placeholder="Quantidade de livros" value="#{catalogaBean.catal_lote.qtdLivros}" title="Quantidade de livros" />
                            </div>
                            <div>
                                <p:outputLabel>Tipo Classificação</p:outputLabel>                         
                                <p:selectOneMenu id="tipo_classificacaoInsert"  value="#{catalogaBean.catal_lote.tipo_classificacao}" label="Tipo Classificaçao" title="Tipo Classificaçao">
                                    <f:selectItem itemLabel="Tipo Classificaçao" itemValue=""/>
                                    <f:selectItems value="#{catalogaBean.tipos_cla}" />
                                </p:selectOneMenu>
                            </div>
                        </div>
                    </p:panelGrid>

                    <!--NOME ARQUIVO INICIAL-->
                    <p:panelGrid  >
                        <div style="display: flex; flex-direction: row; " >
                            <p:outputLabel>Nome do Arquivo inicial</p:outputLabel>

                            <p:inputText id="arquivoInicialInsert" placeholder="Nome  do arquivo inicial lote" styleClass="margin: 0"
                                         value="#{catalogaBean.catal_lote.arquivo_inicial}"
                                         title="Arquivo inicial lote" readonly="true" 
                                         style="margin: 10px;margin-top: 0"/>                        

                            <input type="file" id="setArqInicial" name="filename" 
                                   title="Procurar Arquivo Inicial" oninput="atribuiArqInicial(this.value)">
                                <p:remoteCommand  name="mudaNomeArqInicial"  
                                                  actionListener="#{catalogaBean.mudaNomeArqInicial()}"  />
                            </input>
                        </div>

                        <!--NOME ARQUIVO FINAL-->
                        <div style="display: flex; flex-direction: row; margin: 10px" >
                            <p:outputLabel>Nome do Arquivo final</p:outputLabel>
                            <p:inputText id="arquivoFinalInsert" placeholder="Nome  do arquivo final lote" 
                                         value="#{catalogaBean.catal_lote.arquivo_final}"
                                         readonly="true"
                                         title="Arquivo final lote" 
                                         style="margin: 10px; margin-top: 0">

                            </p:inputText>                 
                            
                            <input type="file" id="setArqFinal2" name="filename"
                                   title="Procurar Arquivo Final"
                                   oninput="atribuiArqFinal2(this.value)"> 
                            <p:remoteCommand  name="mudaNomeArqFinal" 
                                                  actionListener="#{catalogaBean.mudaNomeArqFinal()}"  />                           
                            </input>

                        </div>

                    </p:panelGrid>

                    <div>
                        
                        <h:outputText value="Data de Cadastro: "></h:outputText>
                    <h:outputText value="#{(catalogaBean.catal_lote.data_cad)}" rendered="#{catalogaBean.catal_lote.novo ==false}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />

                    </h:outputText> 
                    </div>
                    <div>
                    <p:outputLabel value="Responsável pelo cadastro: "/>
                    <p:outputLabel value="#{catalogaBean.catal_lote.login}" style="padding-top: 1%; " rendered="#{catalogaBean.catal_lote.novo ==false}"/>
                    </div>


                    <div  style="display: flex; flex-direction: row; margin-top: 10px">
                        <p:panelGrid>


                            <p:commandButton value="Novo lote" style="width: 100%; padding-top:10px; padding-bottom: 10px;  background: white; color:black;" 
                                             actionListener="#{catalogaBean.geraNovoLote}" update="@([id$=formCadastro])">
                            </p:commandButton>
                            <p:commandButton value="Desfazer Alteraçoes" style="background: red; color: white; width: 100%; " 
                                             rendered="#{catalogaBean.catal_lote.novo ==false}"
                                             actionListener="#{catalogaBean.zeraAlteracoes}" update="@([id$=formCadastro])"/>
                            <p:commandButton value="Salvar" style="width: 100%;background: green; color: white;" 
                                             rendered="#{catalogaBean.catal_lote.novo ==true}"
                                             actionListener="#{catalogaBean.insereLote}" update="@([id$=formCadastro])"/>
                            <p:commandButton id="btAtualiza" value="Atualizar" style="width: 100%;background: green; color: white;" 
                                             rendered="#{catalogaBean.catal_lote.novo ==false}"
                                             actionListener="#{catalogaBean.updateLote}" update="@([id$=formCadastro])"/>
                        </p:panelGrid>
                    </div>

                </h:form>
            </p:panelGrid >

        </div>

    </h:body>
<br/>
    <script>
        function atribuiArqFinal2(val) {
            let CampoInput = document.getElementById('setArqFinal2');
            let arquivoFinal = document.getElementById('formCadastro:arquivoFinalInsert');
            arquivoFinal.value = CampoInput.value.substring(12, );
            console.log("value    ... :", CampoInput.value.substring(12, ));
            mudaNomeArqFinal([{name: 'arquivo', value: arquivoFinal.value}]);
        }
        
        function atribuiArqInicial(val) {
            let CampoInput = document.getElementById('setArqInicial');
            let arquivoInicial = document.getElementById('formCadastro:arquivoInicialInsert');
            arquivoInicial.value = CampoInput.value.substring(12, );
            console.log("value    ... :", CampoInput.value.substring(12, ));
            mudaNomeArqInicial([{name: 'arquivo', value: arquivoInicial.value}]);
        }
    </script>


</html>